*{
  font-family: Arial, Helvetica, sans-serif; 
}

.color{
  background-color: #001343;
  text-align: center;
  position: sticky;
  top: 0;


}

.title{
  color: white;
  font-size: 3em;  
  text-align: center;
  padding-top: 2%;
}



#nav{
  /* position: fixed; */
  background-color: #001343;
  color: white;
  /* width: 100%; */
}


a{
  color: white;
}

a:hover{
  color: white;
}

