.one_detail{
  margin-right: 5%;
  font-size: 150%;
  color: #001343;
  margin-top: 5%;
}

.covid_detail{
  margin-right: 5%;
  font-size: 150%;
  color: #001343;
  margin-top: 5%;
}

.link_back{
  margin-left: 5%;
  font-size: 200%;
  cursor: pointer;
  color: #001343;
}